

<div id="calculator">
    <div id="numberContainer">
        {{outputText}}
    </div>
    <div id="buttons">
        <button (click)="clear()" class="calculatorButton">c</button>
        <button (click)="backspace()" class="calculatorButton">&lt;</button>
        <button (click)="minus()" class="calculatorButton">-</button>
        <button (click)="more()" class="calculatorButton">+</button>
        <button (click)="add(1)" class="calculatorButton">1</button>
        <button (click)="add(2)" class="calculatorButton">2</button>
        <button (click)="add(3)" class="calculatorButton">3</button>
        <button (click)="divide()" class="calculatorButton">/</button>
        <button (click)="add(4)" class="calculatorButton">4</button>
        <button (click)="add(5)" class="calculatorButton">5</button>
        <button (click)="add(6)" class="calculatorButton">6</button>
        <button (click)="multiply()" class="calculatorButton">x</button>
        <button (click)="add(7)" class="calculatorButton">7</button>
        <button (click)="add(8)" class="calculatorButton">8</button>
        <button (click)="add(9)" class="calculatorButton">9</button>
        <button (click)="setResult()" class="calculatorButton" id="equals">=</button>
        <button (click)="add(0)" class="calculatorButton" id="zero">0</button>
    </div>
</div>